<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Salary</th>
      <th scope="col">DOB</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @employee.name %></th>
      <td><%= @employee.email %></td>
      <td><%= @employee.salary %></td>
      <td><%= @employee.dob %></td>
      <td><%= @employee.age %></td>
    </tr>
  </tbody>
</table>  

<%= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-light' %> |
<%= link_to 'Back', employees_path, class: 'btn btn-secondary' %>
